---
import MainLayout from '../layouts/MainLayout.astro';
---

<head>

<link href="https://api.fontshare.com/v2/css?f[]=chillax@400&f[]=tanker@400&display=swap" rel="stylesheet"> 
</head>

<main>
    <MainLayout />
</main>

