---
import Date from './Date.astro';
import Time from './Time.astro';
import Weather from './Weather.astro';
---

<main>
<Date />
<Time />
<Weather />
</main>

<style>

    /* Grid */
main {
  /* Set your own grid   */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px;
  grid-column-gap: 1em;
}

/* Widgets */
section {
  background: rgba(211, 211, 211, 0.5);
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}

</style>


<script>

</script>