---
import Date from './Date.astro';
import Time from './Time.astro';
import Weather from './Weather.astro';
import Pokemon from './Pokemon.astro';
---

<main>
 <section>
<Date />
<Time />
</section>
<section>
<Weather />
</section>
<section>
<Pokemon />
</section>
</main>

<style>


  main {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: var(--widget-width);
    display: flex;
    flex-direction: column;
    gap: var(--widget-gap);
    padding: var(--widget-gap);
    box-sizing: border-box;
    margin-right: var(--widget-margin)
  }

  section {
    background: var(--widget-bg);
    padding: var(--widget-padding);
    width: var(--widget-width);
    position: relative;
    flex: 0 0 auto;
    border-radius: 0.5rem;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
    font-family: var(--font-style-header);
    font-size: var(--font-size-large);
  }


  
</style>


<script>

</script>